body {
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    margin-top: 50px;
}
#image-container {
    margin-top: 20px;
}
#uploaded-image {
    max-width: 100%;
    height: auto;
}


.home-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

.home-button:hover {
    color: #007BFF; /* Change color on hover */
}






.container {
    text-align: center;
}

#image-container {
    position: relative;
    display: inline-block;
}

#uploaded-image {
    max-width: 100%;
    height: auto;
}

.x-sign {
    position: absolute;
    color: red;
    font-weight: bold;
    transform: translate(-50%, -50%);
}
