/* src/components/Dashboard.css */
body, html, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.settings-button, .logout-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.settings-button:hover, .logout-button:hover {
  background-color: #444;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

.map-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heatmap {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

footer {
  padding: 20px;
  border-top: 1px solid #ccc;
  background-color: #f8f8f8;
  text-align: right;
}

.datetime span {
  display: block;
}

[class^="symbol-x"] {
  position: absolute;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.glow-low {
  color: green;
  border-radius: 50%; 
  text-shadow: 0 0 10px green;
  box-shadow: 0 0 5px 5px green;
}

.glow-medium {
  color: orange;
  border-radius: 50%; 
  box-shadow: 0 0 20px 20px orange;
  text-shadow: 0 0 10px orange;
}

.glow-high {
  color: red;
  border-radius: 50%;
  box-shadow: 0 0 30px 30px red;
  text-shadow: 0 0 20px red;
}

.symbol-x .fa-bullseye {
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.symbol-x .sensor-name {
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}



.delete-floorplan-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-floorplan-button:hover {
  background-color: black;
}

